@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

        html,
        body {
            font-family: 'Poppins', sans-serif;
        }
        .navbar{
            /* background: linear-gradient(0deg, #a9968ae0, #5782c1) !important; */
        }
        nav a.nav-link {
            color: #fff !important;
            margin-right: 7px;
            font-size: 17px;
            border-radius: 7px;
        }

        .profile {
            display: flex;
            justify-content: right;
            margin-left: auto;
            align-items: center;
        }

        .nav-item:hover {
            opacity: 10;
            background-color: white;
            color: black !important;
            border-radius: 7px;
        }

        .nav-item,
        .nav-list {
            margin: 0px;
            display: flex;
            align-items: center;
        }

        a {
            font-size: 18px;
            transition: all 0.3s ease;
            border-radius: 7px;
        }

        .admin-nav {
            list-style: none;
            display: flex;
        }
        
        